.header {
	.nav-item.dropdown {
		#basic-nav-dropdown {
			color: white;
		}
	}
	[aria-controls='basic-navbar-nav'] {
		border-color: white;
		.navbar-toggler-icon {
			color: white;
		}
	}
	.navbar-nav {
		a {
			text-decoration: none;
		}
	}
}
